
@{
    ViewData["Title"] = "Generate keystore";
}

<h2>Generate keystore</h2>

<form method="post" asp-action="GenerateKeystore" class="row">
    <label class="col-sm-12">Random seed material from your mouse</label>
    <textarea name="seed" id="seed" rows="10" cols="120" class="col-sm-12"></textarea>
    
    <label>Password:</label>
    <input class="col-sm-12" type="password" name="password"/>
    <input class="col-sm-12" type="submit" name="submit" value="Generate new account" class="btn btn-default" />
</form>

<div id="content" style="margin-top: 20px">
</div>

<script>
    function onSuccess(ev) {
        const pk = ev.privateKey;
        const pubKey = ev.publicKey;
        const address = ev.address;
        $('#content').html(`Private Key: ${pk} </br> Public Key: ${pubKey} </br> Address: ${address}`);
    }

</script>
@section Scripts {

    <script>
        $(function () {
            let randomString = '';
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
            $(document).mousemove(function (event) {
                if (Math.random() >= 0.01) {
                    randomString += possible.charAt(event.pageX % possible.length);

                    $('body').append(
                        `<div class=\"seedpoint\" style=\"top: ${event.pageY}px; left: ${event.pageX}px;\"></div>`);
                }
                if (Math.random() >= 0.01) {
                    randomString += possible.charAt(event.pageY % possible.length);

                    $('body').append(
                        `<div class=\"seedpoint\" style=\"top: ${event.pageY}px; left: ${event.pageX}px;\"></div>`);
                }

                $('#seed').text(randomString);

                if (randomString.length >= 500) {
                    $('.seedpoint').remove();
                    $(document).unbind('mousemove');
                }
            });
        })
    </script>
}

<style>
    .seedpoint {
        width: 6px;
        height: 6px;
        display: block;
        border-radius: 3px;
        background-color: #0000cd;
        position: absolute;
        z-index: 10;
    }
</style>
