
@{
    ViewData["Title"] = "Import keystore";
}

<h2>Import keystore</h2>

<form method="post" asp-action="ImportKeystore" class="row" enctype="multipart/form-data">

    <label>Keystore File:</label>
    <input class="col-sm-12" type="file" name="keystoreFile" />

    <label>Password:</label>
    <input class="col-sm-12" type="password" name="password" />
    <input class="col-sm-12" type="submit" name="submit" value="Generate new account" class="btn btn-default" />
</form>

<div id="content" style="margin-top: 20px">
</div>

<script>
    function onSuccess(ev) {
        const pk = ev.privateKey;
        const pubKey = ev.publicKey;
        const address = ev.address;
        $('#content').html(`Private Key: ${pk} </br> Public Key: ${pubKey} </br> Address: ${address}`);
    }
</script>