@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Import";
}

<h2>Import</h2>

<form method="post" data-ajax="true" data-ajax-method="POST" asp-action="Import" data-ajax-success="onSuccess">
    <input type="text" name="pk" value="" />

    <input type="submit" name="submit" value="Generate new account" class="btn btn-default" />
</form>

<div id="content" style="margin-top: 20px">
</div>

<script>
    function onSuccess(ev) {
        const pk = ev.privateKey;
        const pubKey = ev.publicKey;
        const address = ev.address;
        $('#content').html(`Private Key: ${pk} </br> Public Key: ${pubKey} </br> Address: ${address}`);
    }
</script>

<div>@this.Context.Session.GetString("Address")</div>

