@model FaucetRequestViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Request NoCoins</h2>

@*<form asp-controller="Faucet" asp-action="" method="post">
    Email:  <input asp-for="Email" /> <br />
    Password: <input asp-for="Password" /><br />
    Address: <input asp-for="Address.AddressLine1" /><br />
    <button type="submit">Register</button>
</form>*@

