<div class="row">
    <h1>Pool overview</h1>
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Hashrate (Mh/s)</h3>
            </div>
            <div class="panel-body">
                <span id="hashrate">0</span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Difficulty</h3>
            </div>
            <div class="panel-body">
                <span id="difficulty">0</span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Miners</h3>
            </div>
            <div class="panel-body">
                <span id="miners">0</span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Workers</h3>
            </div>
            <div class="panel-body">
                <span id="workers">0</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <h1>Top Miners</h1>
    <div class="col-md-12">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Workers count</th>
                    <th>Total hashrate (Mh/s)</th>
                </tr>
            </thead>
            <tbody id="top-miners-grid"></tbody>
        </table>
    </div>
</div>

<div class="row">
    <h1>Last submited blocks</h1>
    <div class="col-md-12">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Worker</th>
                    <th>Hash</th>
                </tr>
            </thead>
            <tbody id="last-blocks-grid"></tbody>
        </table>
    </div>
</div>

<script>
    (function () {
        $(function () {
            refreshReport();
            setInterval(refreshReport, 5000);
        });

        function refreshReport() {
            $.getJSON('/Home/DashboardJson').done(function (data) {
                $('#hashrate').text(data.report.hashrate.toFixed(2));
                $('#difficulty').text(data.report.lastDifficulty);
                $('#miners').text(data.report.miners);
                $('#workers').text(data.report.workers);

                var miners = '';
                var index = 1;
                data.topMiners.forEach(function (miner) {
                    miners += '<tr>';
                    miners += '<td>' + (index++) + '</td>';
                    miners += '<td>' + (miner.user) + '</td>';
                    miners += '<td>' + (miner.workersCount) + '</td>';
                    miners += '<td>' + (miner.hashrate.toFixed(2)) + '</td>';
                    miners += '</tr>';
                });
                $('#top-miners-grid').html(miners);

                var jobs = '';
                index = 1;
                data.minedJobs.forEach(function (job) {
                    jobs += '<tr>';
                    jobs += '<td>' + (index++) + '</td>';
                    jobs += '<td>' + (job.user) + '</td>';
                    jobs += '<td>' + (job.worker) + '</td>';
                    jobs += '<td>' + (job.blockHash) + '</td>';
                    jobs += '</tr>';
                });
                $('#last-blocks-grid').html(jobs);
            });
        }
    }());
</script>