@model Blockche.Blockchain.Models.Transaction

@{
    ViewData["Title"] = "Transaction Details";
}

<h2>Transaction Information</h2>

@Html.Partial("~/Views/Shared/_TransactionPartial.cshtml", Model)

