@page
@model Blockche.Wallet.Web.Pages.GenerateAccountModel
@{
    ViewData["Title"] = "GenerateAccount";
}

<h2>Generate Account</h2>

<form asp-action="GenerateAccount" asp-controller="Wallet" method="post">
    <input type="submit" value="Generate account"/>
</form>

<textarea>@Model.Text</textarea>

