@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Scripts{
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/signalr.js/2.2.3/jquery.signalR.js"></script>*@

    <script src="~/lib/signalr/signalr.min.js"></script>
    <script>
        $(document).ready(function () {

       

            const connection = new signalR.HubConnectionBuilder()
                .withUrl("/explorer/data")
                .build();

            connection.on("ReceiveMessage", (data) => {


                var blocksCon = $("#last-blocks");
                var confTranCon = $("#conf-tran");
                var pendTranCon = $("#pend-tran");
                var peersCon = $("#peers");
                var allCon = $("#all-things");


                var peersHtml = "";

                for (var property in data.peers) {
                    if (data.peers.hasOwnProperty(property)) {

                        peersHtml += 
"<div class='media'> \
<div class='media-body'>\
<span class='media-meta pull-right'></span>\
<h4 class='title'>" + data.peers[property] +
                            "<span class='pull-right pagado'>" + property + "</span>\
</h4>\
<p class='summary'></p>\
</div>\
</div>";

                    }
                }

                peersCon.html(peersHtml);

                var blocksHtml = "";

                for (var i = 0; i < data.blocks.length; i++) {
                    blocksHtml += 
"<div class='media'> \
<div class='media-body'>\
<span class='media-meta pull-right'></span>\
<h4 class='title'> Block number: " + data.blocks[i].index +
                        "<span class='pull-right pagado'>" + data.blocks[i].minedBy + "</span>\
</h4>\
<p class='summary'>" + data.blocks[i].blockDataHash + "</p>\
</div>\
</div>";
                }

                blocksCon.html(blocksHtml);

                var pendTranHtml = "";

                for (var i = 0; i < data.pendingTransactions.length; i++) {
                    pendTranHtml += 

"<div class='media'> \
<div class='media-body'>\
<span class='media-meta pull-right'></span>\
<h4 class='title'> Transaction value: " + data.pendingTransactions[i].value +
                        "<span class='pull-right cancelado'>" + data.pendingTransactions[i].data + "</span>\
</h4>\
<p class='summary'>" + data.pendingTransactions[i].from + " - " + data.pendingTransactions[i].to + "</p>\
</div>\
</div>"


                }

                pendTranCon.html(pendTranHtml);

                var confTranHtml = "";

                for (var i = 0; i < data.confirmedTran.length; i++) {
                    confTranHtml +=

                        "<div class='media'> \
<div class='media-body'>\
<span class='media-meta pull-right'></span>\
<h4 class='title'> Transaction value: " + data.confirmedTran[i].value +
                        "<span class='pull-right pagado'>" + data.confirmedTran[i].data + "</span>\
</h4>\
<p class='summary'>" + data.confirmedTran[i].from + " - " + data.confirmedTran[i].to + "</p>\
</div>\
</div>";

                }

                confTranCon.html(confTranHtml);

                allCon.html(blocksHtml + confTranHtml + pendTranHtml + peersHtml);

            });

            connection.start().catch(err => console.error(err.toString()));

            // connection.invoke("CheckForNewData").catch(err => console.error(err.toString()));

            setInterval(function myfunction() {
                connection.invoke("CheckForNewData").catch(err => console.error(err.toString()));
            }, 3000);

            //document.getElementById("sendButton").addEventListener("click", event => {
            //    // const user = document.getElementById("userInput").value;
            //    const message = document.getElementById("messageInput").value;
            //    connection.invoke("SendMessage", message).catch(err => console.error(err.toString()));
            //    event.preventDefault();
            //});

        });



    </script>
}


<div class="container">
    <div class="row">
        <section class="content">
            <div class="well well-lg">    <h2>NoCoin Explorer of Top 10 entities</h2></div>
        

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#last-blocks">Last blocks</a></li>
                <li><a data-toggle="tab" href="#conf-tran">Transactions</a></li>
                <li><a data-toggle="tab" href="#pend-tran">Pending Transactions</a></li>
                <li><a data-toggle="tab" href="#peers">Peers</a></li>
                <li><a data-toggle="tab" href="#all-things">All</a></li>
            </ul>

            <div class="tab-content">
                <div id="last-blocks" class="tab-pane fade in active">
                    <h3>blocks</h3>
                    <p>Some content.</p>
                </div>
                <div id="conf-tran" class="tab-pane fade">
                    <h3>conf</h3>
                    <p>Some content in menu 1.</p>
                </div>
                <div id="pend-tran" class="tab-pane fade">
                    <h3>pend</h3>
                    <p>Some content in menu 2.</p>
                </div>
                <div id="peers" class="tab-pane fade">
                    <h3>Peers</h3>
                    <p>Some content in menu 2.</p>
                </div>
                <div id="all-things" class="tab-pane fade">
                    <h3>All</h3>
                    <p>Some content in menu 2.</p>
                </div>
            </div>

            @*<div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-filter" data-target="last-block">Last blocks</button>
                            <button type="button" class="btn btn-warning btn-filter" data-target="conf-tran">Transactions</button>
                            <button type="button" class="btn btn-danger btn-filter" data-target="pend-tran">Pending Transactions</button>
                            <button type="button" class="btn btn-default btn-filter" data-target="peers">Peers</button>
                            <button type="button" class="btn btn-info btn-filter" data-target="all">All</button>
                        </div>
                    </div>
                    <div class="table-container">
                        <table class="table table-filter" id="chain-table">
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="content-footer">
                <p>


                </p>
            </div>
        </div>*@
        </section>

    </div>
</div>